@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sideChat{
    box-sizing: border-box;
    width: 30vw;
    overflow: auto;
}

.sideChat__header{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 15px;
    border: 1px solid #ddd;
}

.sideChat__header img{
    width: 25px;
}

.sideChat__header i{
    font-size: 1rem;
}

.sideChat__header__perfil i{
    font-size: 2rem;
}

.sideChat__header__icons{
    display: flex;
    align-items: center;
}

.sideChat__header__icons img, .sideChat__header__icons i{
    margin: 0px 15px;
}

.sideChat__information{
    height: 100px;
    background-color: #9DE1FE;
    display: flex;
    align-items: center;
}

.sideChat__information__icon{
    padding: 0px 15px;
}

.sideChat__information__icon i{
    background-color: #fff;
    font-size: 1.2rem;
    color: #A3E3FE;
    padding: 10px;
    border-radius: 50%;
}

.sideChat__information__text h4, .sideChat__information__text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.sideChat__information__text h4{
    font-size: 0.95rem;
}

.sideChat__information__text p{
    font-size: 0.8rem;
}

.sideChat__information__text p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sideChat__search{
    background-color: #f8f8f8;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ddd   ;
}

.sideChat__search label{
    background-color: #fff;
    outline: transparent;
    border-radius: 30px;
    padding: 0px 10px;
}

.sideChat__search label input{
    border: transparent;
    outline: transparent;
    height: 30px;
    padding: 0px 10px;
    width: 330px;
}

.sideChat__chats{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.sideChat__chats__chat{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    align-items: center;
    transition: 0.2s ease-in-out background-color;
    padding: 0px 10px;
    height: 80px;
}
.sideChat__chats__chat:hover{
    background-color: #edededa8;
    cursor: pointer;
}

/* DEIXAR CHAT COMO MARCADO */
#chat1{
    background-color: #ededed;
}

.sideChat__chats__chat__image{
    width: 10%;
}

.sideChat__chats__chat__image img{
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.sideChat__chats__chat__message{
    width: 70%;
    padding-left: 30px;
}

.sideChat__chats__chat__message h4, .sideChat__chats__chat__message p{
    font-family: Arial, Helvetica, sans-serif;

}

.sideChat__chats__chat__message h4{
    font-size: 1.1rem;
    font-weight: 300;
    padding-bottom: 4px;
}

.sideChat__chats__chat__message p{
    font-size: 0.9rem;
    font-weight: 300;
}

.sideChat__chats__chat__message i{
    padding-right: 5px;
}

.sideChat__chats__chat__time{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.sideChat__chats__chat__time span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #666;
}

.contentChat{
    box-sizing: border-box;
    width: 70vw;
    background-color: #EDEDED;
    height: 100vh;
}

.contentChat__header{
    height: 9.5vh;
    border-bottom: 1px solid #ddd;
}

.contentChat__body{
    height: 81vh;
    background-image: url("imagens/background-chat.png");
    overflow-y: auto;
}

.contentChat__footer{
    height: 9.5vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.contentChat__footer__anexo{
    width: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contentChat__footer__anexo i{
    padding: 0px 10px;
    font-size: 1.3rem;
    opacity: 0.6;
}

.contentChat__footer__message{
    width: 84%;
}

.contentChat__footer__message input{
    width: 100%;
    border: 1px solid #ddd;
    outline: transparent;
    border-radius: 15px;
    height: 40px;
    padding: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.contentChat__footer__voice{
    width: 6%;
    display: flex;
    justify-content: center;
}

.contentChat__footer__voice i{
    font-size: 1.3rem;
    opacity: 0.7;
}


